algorithms-and-programming-II/bin/
algorithms-and-programming-II/*.tmp
algorithms-and-programming-II/*.~
algorithms-and-programming-II/*.swp
algorithms-and-programming-II/.metadata/
algorithms-and-programming-II/RemoteSystemsTempFiles/
/.metadata/
