body {
	background: #fff;
	direction: ltr;
	font-size: 14px;
	line-height: 1.4286;
	margin: 0;
	padding: 0;
}

.VmOpGe {
	svg {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
	}
}